<%- include('../partials/header') %> 

<section id="show-pg">
    <h2>Flight Details: </h2>
    <h3>Airline: <strong><%= flight.airline %></strong></h3>
    <h3>Flight Number: <strong><%= flight.flightNo %></strong></h3>
    <h3>From: <strong><%= flight.airport %></strong></h3>
    <h3>To: </h3>
    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <select name="destination">
            <option>AUS</option>
            <option>DFW</option>
            <option>DEN</option>
            <option>LAX</option>
            <option>SAN</option>
        </select>
        <input type="submit" value="Add Destination">
    </form>
    

</section>

<%- include('../partials/footer') %> 